$black:#1C1C33;

.wrapper {
  overflow: hidden;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  header {
    background-color: #57D9A6;
    padding: 5px;

    p {
      color: $black;
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      text-align: center;
    }
  }
}

@media (min-width:0) and (max-width:446.9px) {
  .wrapper {
    overflow: hidden;
  }
  header{
    display: none;
  }
}